.Main{
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: column;
}

.Title{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: center;
    font-size: 45px;
    font-family: Arial;
}

.UserInput{
    display: flex;
    height: 50%;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.Option{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.Question{
    display: flex;
    height: 10%;
}

.Religion{
    display: flex;
    width: 150px;
    height: 30px;
}

.Place{
    display: flex;
    width: 150px;
    height: 30px;
}

.Budget{
    display: flex;
    width: 200px;
    height: 30px;
}

.Submit{
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
}

.SubmitButton{
    display: flex;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: dodgerblue;
    color: white;
    font-size: large;
    border-radius: 15px;
}